WebApplication1/ConvertorClient/Web References/ConvertorService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://CurrencyConvertor/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://CurrencyConvertor/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://CurrencyConvertor/">
      <s:element name="getCurrency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="txt_Amount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="lbl_Error" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCurrencyResponse">
        <s:complexType />
      </s:element>
      <s:element name="convertCurrency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="txt_Ammount" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="listItem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lbl_Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="convertCurrencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="convertCurrencyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:getCurrency" />
  </wsdl:message>
  <wsdl:message name="getCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:getCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="convertCurrencySoapIn">
    <wsdl:part name="parameters" element="tns:convertCurrency" />
  </wsdl:message>
  <wsdl:message name="convertCurrencySoapOut">
    <wsdl:part name="parameters" element="tns:convertCurrencyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getCurrency">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calculate currency by country prefix to euro</wsdl:documentation>
      <wsdl:input message="tns:getCurrencySoapIn" />
      <wsdl:output message="tns:getCurrencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="convertCurrency">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Convert euro to chosen currency</wsdl:documentation>
      <wsdl:input message="tns:convertCurrencySoapIn" />
      <wsdl:output message="tns:convertCurrencySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCurrency">
      <soap:operation soapAction="http://CurrencyConvertor/getCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertCurrency">
      <soap:operation soapAction="http://CurrencyConvertor/convertCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCurrency">
      <soap12:operation soapAction="http://CurrencyConvertor/getCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertCurrency">
      <soap12:operation soapAction="http://CurrencyConvertor/convertCurrency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:49174/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:49174/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>